.btn {
  border: 1px solid whitesmoke;
  box-shadow: 2px 2px 5px grey;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
}

.warning {
  @extend .btn;
  background-color: red;
  color: white;
}
