tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

table {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
  border: none;
  thead {
    background-color: grey;

    tr {
      @extend tr;
    }
    th {
      text-transform: uppercase;
      color: white;
    }
  }
}

.body {
  tr {
    @extend tr;
    cursor: pointer;

    &:nth-of-type(2n) {
      background-color: lightgray;
      color: white;
    }
    &:hover {
      background-color: teal;
      color: white;
    }
  }
}
